@model ErrorProject.Models.Comment

@{
    ViewBag.Title = "Add Comment";
}
<h2>Add Comment</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Error</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        @Html.HiddenFor(model => model.ErrorID)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}